<div ng-repeat="connection in vm.connectionData.connections" layout="column">
  <div ng-if="$first" layout="row">
    <div>{{connection.from.station.name}} - {{connection.to.station.name}}</div>
  </div>
  <div layout="column" flex>
    <div ng-if="$first" layout="row" flex="100">
      <div flex="25">Abfahrt</div>
      <div flex="25">Gleis</div>
      <div flex="25">Ankunft</div>
      <div flex="25">Gleis</div>
    </div>
    <div layout="row" flex="100">
      <div flex="25">{{connection.from.departureTimestamp * 1000 | date : 'HH:mm'}} {{vm.getDelayString(connection.from.delay)}}</div>
      <div flex="25">{{connection.from.platform}}</div>
      <div flex="25">{{connection.to.arrivalTimestamp * 1000 | date : 'HH:mm'}} {{vm.getDelayString(connection.to.delay)}}</div>
      <div flex="25">{{connection.to.platform}}</div>
    </div>
  </div>
</div>