<md-content class="md-padding" layout="column" flex="100">

  <input type="text" ng-model="vm.from" ng-model-options="{debounce: 500}" ng-change="vm.search()" placeholder="Von" />
  <input type="text" ng-model="vm.to" ng-model-options="{debounce: 500}" ng-change="vm.search()" placeholder="Nach" />

  <h2 ng-if="vm.from && vm.to">{{vm.from}} - {{vm.to}}</h2>

  <div ng-if="vm.loaded">
    <connection connection-data="vm.data"></connection>
  </div>
  <div ng-if="!vm.loaded">
    <md-progress-circular md-mode="indeterminate" md-diameter="150"></md-progress-circular>
  </div>
</md-content>